### Step 1: Load all CSV files for the 2021 year in bike trips

#### Import necessary libraries to read files and process dataframes

In [90]:
import glob
import pandas as pd
import os

In [91]:
import datetime as dt
import calendar

In [92]:
import matplotlib.pyplot as plt

In [93]:
# This is my path
path = "C:\\Users\\harin\\Desktop\\Data Science Coursework\\GDAP Case Study Bike Success\\Divvy trips 2021" 
 
# Using [0-9] pattern
print('\nNamed with wildcard ranges:')
for files in glob.glob(path + '/*2021*'):
    print(files)

Named with wildcard ranges:
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202101-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202102-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202103-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202104-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202105-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202106-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202107-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202108-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202109-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202110-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202111-divvy-tripdata.csv
C:\Users\harin\Desktop\Data Science Coursework\GDAP Case Study Bike Success\Divvy trips 2021\202112-divvy-tripdata.csv

In [94]:
all_files = glob.glob(path + '/*2021*')

In [95]:
all_files[9]

'C:\\Users\\harin\\Desktop\\Data Science Coursework\\GDAP Case Study Bike Success\\Divvy trips 2021\\202110-divvy-tripdata.csv'

#### After checking content in files, it is safe to append them into a single dataframe

In [96]:
df = pd.concat((pd.read_csv(f) for f in all_files))

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5595063 entries, 0 to 247539
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 597.6+ MB

In [98]:
df.shape

(5595063, 13)

### Step 2: Data Cleaning and Wrangling

#### Convert data types as needed. Here we convert a few columns into datetime and string

In [99]:
df['started_at'] =pd.to_datetime(df['started_at'])

In [100]:
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [101]:
df['ride_id'] = df['ride_id'].astype(str)

In [102]:
df['rideable_type'] = df['rideable_type'].astype(str)

In [103]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.89,-87.72,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.90,-87.69,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.90,-87.70,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.92,-87.69,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.90,-87.70,casual

In [104]:
df.drop_duplicates(inplace = True)

In [105]:
df.shape

(5595063, 13)

#### Here we add a new column for the trip duration with the converted datetime fields

In [106]:
df['Trip Time (m)']=(df['ended_at']-df['started_at']).astype('timedelta64[m]')

In [107]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Trip Time (m)
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.89,-87.72,member,10.0
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.90,-87.69,member,4.0
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.90,-87.70,member,1.0
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.92,-87.69,member,11.0
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.90,-87.70,casual,0.0

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5595063 entries, 0 to 247539
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  Trip Time (m)       float64
dtypes: datetime64[ns](2), float64(5), object(7)
memory usage: 640.3+ MB

#### In reviewing the numbers for Trip Time, we want to ensure that the duration of the ride is greater than 0. The table below shows that there is inaccurate data.

In [109]:
df.loc[df['Trip Time (m)']<=0]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Trip Time (m)
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual,0.0
90,A81933DA3A0AC0E4,classic_bike,2021-01-20 16:27:06,2021-01-20 16:27:27,State St & Pearson St,TA1307000061,State St & Pearson St,TA1307000061,41.897448,-87.628722,41.897448,-87.628722,member,0.0
91,A04621CF9A6D8BE6,classic_bike,2021-01-17 10:50:25,2021-01-17 10:50:33,State St & Pearson St,TA1307000061,State St & Pearson St,TA1307000061,41.897448,-87.628722,41.897448,-87.628722,member,0.0
814,8F6BEA60066EDAE8,classic_bike,2021-01-23 21:51:26,2021-01-23 21:52:15,Rush St & Hubbard St,KA1503000044,State St & Kinzie St,13050,41.890173,-87.626185,41.889187,-87.627754,member,0.0
2740,28015DD434E6505D,classic_bike,2021-01-04 16:46:56,2021-01-04 16:47:40,California Ave & Cortez St,17660,California Ave & Cortez St,17660,41.900363,-87.696704,41.900363,-87.696704,member,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247395,A02083F83AC96568,electric_bike,2021-12-11 00:10:00,2021-12-11 00:10:51,NaN,NaN,NaN,NaN,41.920000,-87.630000,41.920000,-87.630000,casual,0.0
247417,B5F4E06862417CEA,electric_bike,2021-12-11 04:41:57,2021-12-11 04:42:08,NaN,NaN,NaN,NaN,41.930000,-87.690000,41.930000,-87.690000,casual,0.0
247448,19C5BEED72FE88CD,classic_bike,2021-12-14 12:17:37,2021-12-14 12:18:02,Aberdeen St & Jackson Blvd,13157,Aberdeen St & Jackson Blvd,13157,41.877726,-87.654787,41.877726,-87.654787,member,0.0
247469,6735D3AD97A8C921,electric_bike,2021-12-11 15:27:19,2021-12-11 15:27:26,Streeter Dr & Grand Ave,13022,NaN,NaN,41.892259,-87.612085,41.890000,-87.610000,casual,0.0
247486,1A4D3E24FA396055,electric_bike,2021-12-07 17:26:24,2021-12-07 17:27:22,Wilton Ave & Belmont Ave,TA1307000134,NaN,NaN,41.940079,-87.652968,41.940000,-87.650000,casual,0.0

In [110]:
df = df.loc[df['Trip Time (m)']> 0.0]

In [54]:
#df.drop(df.loc[df['Trip Time (m)']<=0.0].index, axis = 0, inplace = True)

In [111]:
df.shape

(5509830, 14)

#### Null handling - we review the nulls present in the data set. Here we will be deleting rows that have Nulls

In [112]:
df.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    670450
start_station_id      670447
end_station_name      714886
end_station_id        714886
start_lat                  0
start_lng                  0
end_lat                 4738
end_lng                 4738
member_casual              0
Trip Time (m)              0
dtype: int64

In [113]:
df.dropna(inplace = True)

In [114]:
df.shape

(4528933, 14)

#### We inspect the data to ensure that values are not ambiguous.

In [115]:
df.member_casual.unique()

array(['member', 'casual'], dtype=object)

In [116]:
df.rideable_type.unique()

array(['classic_bike', 'electric_bike', 'docked_bike'], dtype=object)

#### Add two more columns, Month and Weekday to make more data available for analysis and any visualizations

In [117]:
df['Month'] = pd.DatetimeIndex(df['started_at']).month_name()
df['Weekday'] = df['started_at'].dt.day_name()

In [149]:
df['Hour of Day'] = df['started_at'].dt.strftime("%I %p")

In [150]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Trip Time (m),Month,Weekday,Hour of Day
9,B9F73448DFBE0D45,classic_bike,2021-01-24 19:15:38,2021-01-24 19:22:51,California Ave & Cortez St,17660,Wood St & Augusta Blvd,657,41.900363,-87.696704,41.899181,-87.672200,member,7.0,January,Sunday,07 PM
10,457C7F4B5D3DA135,electric_bike,2021-01-23 12:57:38,2021-01-23 13:02:10,California Ave & Cortez St,17660,California Ave & North Ave,13258,41.900406,-87.696733,41.910435,-87.696890,member,4.0,January,Saturday,12 PM
11,57C750326F9FDABE,electric_bike,2021-01-09 15:28:04,2021-01-09 15:37:51,California Ave & Cortez St,17660,Wood St & Augusta Blvd,657,41.900374,-87.696688,41.899180,-87.672178,casual,9.0,January,Saturday,03 PM
12,4D518C65E338D070,electric_bike,2021-01-09 15:28:57,2021-01-09 15:37:54,California Ave & Cortez St,17660,Wood St & Augusta Blvd,657,41.900379,-87.696716,41.899149,-87.672177,casual,8.0,January,Saturday,03 PM
13,9D08A3AFF410474D,classic_bike,2021-01-24 15:56:59,2021-01-24 16:07:08,California Ave & Cortez St,17660,Wood St & Augusta Blvd,657,41.900363,-87.696704,41.899181,-87.672200,casual,10.0,January,Sunday,03 PM

In [151]:
df['Month'].nunique()

12

### Step 3: Analysis

#### Goal is to design marketing strategies aimed at converting casual riders into annual members. Guiding questions: 
##### How do annual members differ from casual riders? 
##### What would make casual riders buy annual memberships? 
##### How can digital media affect their marketing tactics?

In [126]:
df.describe()

          start_lat     start_lng       end_lat       end_lng  Trip Time (m)
count  4.528933e+06  4.528933e+06  4.528933e+06  4.528933e+06   4.528933e+06
mean   4.190308e+01 -8.764350e+01  4.190337e+01 -8.764374e+01   2.160056e+01
std    4.030280e-02  2.327393e-02  4.045035e-02  2.348770e-02   1.856136e+02
min    4.164850e+01 -8.783000e+01  4.164850e+01 -8.783000e+01   1.000000e+00
25%    4.188224e+01 -8.765549e+01  4.188262e+01 -8.765589e+01   7.000000e+00
50%    4.189769e+01 -8.764055e+01  4.189820e+01 -8.764098e+01   1.200000e+01
75%    4.192628e+01 -8.762769e+01  4.192676e+01 -8.762769e+01   2.200000e+01
max    4.206485e+01 -8.752823e+01  4.216812e+01 -8.752452e+01   5.594400e+04

In [127]:
df['rideable_type'].value_counts(normalize=True)

classic_bike     0.706625
electric_bike    0.224904
docked_bike      0.068471
Name: rideable_type, dtype: float64

In [128]:
df['member_casual'].value_counts(normalize=True)

member    0.552226
casual    0.447774
Name: member_casual, dtype: float64

In [129]:
df['Weekday'].value_counts(normalize=True)

Saturday     0.179920
Sunday       0.155763
Friday       0.142953
Wednesday    0.134248
Tuesday      0.131448
Thursday     0.130302
Monday       0.125365
Name: Weekday, dtype: float64

In [88]:
#df.to_csv('Bike_Rentals_2021.csv', index = False)

#### Visualizations to help with analysis

In [89]:
# 1. % of rides by rider type
# 2. Number of rides by day
# 3. % of rides by bike type per rider type
# 4. Avg ride duration by rider type
# 5. Trend over time in rides by rider type
# 6. Map coverage by rider type
# 7. Map coverage by bike type

In [131]:
df1 = df[{'ride_id','rideable_type','Trip Time (m)'}]

In [132]:
df1.shape

(4528933, 3)

In [140]:
df1.to_csv('Bike_Rentals_Trip_Time.csv', index = False)

In [152]:
df2 = df[{'ride_id','Month','Weekday','Hour of Day'}]
df2.shape

(4528933, 4)

In [153]:
df2.to_csv('Bike_Rentals_Calendar.csv', index = False)

In [134]:
df3 = df[{'ride_id','member_casual','start_lat','start_lng','end_lat','end_lng'}]

In [135]:
df3.shape

(4528933, 6)

In [142]:
df3.to_csv('Bike_Rentals_Maps_Members.csv', index = False)

In [138]:
df4 = df[{'ride_id','rideable_type', 'start_station_name','end_station_name'}]

In [139]:
df4.shape

(4528933, 4)

In [143]:
df4.to_csv('Bike_Rentals_Stations.csv', index = False)